.auth-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	.separator {
		margin: 0px 10px;
	}
}

.container-register {
	display: flex;
	justify-content: center;

	.register-form {
		display: flex;
		flex-direction: column;
		// width: 300px;
		padding: 20px 80px;
		border-radius: 35px;
		background-color: transparent;
		box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);

		.checkbox {
			padding: 10px 0px;
		}

		button {
			padding: 10px;
			border: none;
			border-radius: 3px;
			background-color: #5a9;
			color: white;
			cursor: pointer;

			&:hover {
				background-color: rgba(68, 153, 136, 0.975);
			}
		}
	}
}
