@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@tailwind typography;
@tailwind aspect-ratio;

:root {
	--primary: #23bc81;
	--secondary: #232950;
	--background: #7b929d;
	--colorTheme1: #4e3845;
	--colorTheme2: #5c5068;
	--colorTheme3: #696a80;
	--colorTheme4: #90b9bb;
}
body {
	margin: 0;
	padding: 20px;
	font-family: "Poppins";
}

* {
	color: #000000;
	margin: 0;
}
p {
	margin: 20px 0;
}
button {
	border: 0;
	padding: 8px;
	border-radius: 4px;
	color: rgb(0, 0, 0);
	background: var(--primary);
	cursor: pointer;
}

/* navbar */
header nav {
	display: flex;
	gap: 16px;
	justify-content: end;
	max-width: 1200px;
	margin: 0 auto;
}
header nav h1 {
	margin-right: auto;
	border-bottom: 3px solid var(--primary);
}
header nav a {
	text-decoration: none;
	padding: 6px;
	border-radius: 4px;
}
header nav a.active {
	background: var(--primary);
}

/* page content */
main {
	max-width: 1200px;
	margin: 40px auto;
}

/* RootLayout */
.root-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.nav-links {
	display: flex;
	gap: 16px;
}

.nav-links a {
	color: black;
	text-decoration: none;
}

.menu-toggle {
	background: none;
	border: none;
	color: black;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media (max-width: 768px) {
	.nav-links {
		display: none;
	}

	.nav-links.nav-active {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.menu-toggle {
		display: block;
	}
}
